
body{
  color:#808080;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 20px 300px;
}

h1{
  color: #8BBEB2;
  font-size: 60px;
}

address{
  font-style: normal;
  color: #0D0630;
}

p{
  margin: 10px 0 20px 0;
}

.subtitle{
  color: #384E77;
  font-size: 35px;
  height: 60px;
}

.website-link{
  text-decoration: none;
  color: #0D0630;
}

.website-link:hover{
  color:#8BBEB2;
}

.studio-picture{
  height: 300px;
  width: auto;
}

.list-item{
  margin:15px 0;
}

.table-row{
    height: 40px;
}
.paragraph{
  color:green;
}
